 

<ion-view view-title="Contacts" >
    <ion-content class="padding">

        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="c in contacts" href="#/tab/contacts/{{c.idContact}}">
                <p>
                    <span ng-bind="c.FirstName"></span>
                    <span ng-bind="c.LastName"></span>
                </p>
                <p>{{c.Email}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(c)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>



